* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html, body {
  background: #2C2A27;
  margin: 0%;
  padding: 0%;
  color: #E68611;
}

section {
  width: 100%;
  height: 100vh;
}
section #contactUsFrame {
  border-radius: 5px;
}

#home .container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 2, 0, 0.7); /* Adjust the opacity here */
  z-index: -1; /* Ensure the overlay is above the background */
}

#home {
  background-image: url(../src/Empire_Chicken_Tenders.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; /* Make sure the container is positioned relative */
  z-index: 0; /* Ensure the background is behind the overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#home .container {
  z-index: 999;
}

nav {
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0)); /* White to transparent */
}
nav .active-link {
  color: rgb(252, 207, 7); /* You can change this color to whatever you prefer */
  font-weight: bold;
  font-size: large;
}

#contactTitle {
  animation: shakeY; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
  --animate-repeat: 2;
}

.maincontainer {
  height: 250px; /* Set the height of the container */
  width: 500px; /* Optionally, set the width of the container */
  overflow: hidden; /* Ensure the image doesn't overflow the container */
}
.maincontainer img {
  height: 100%; /* Make the image take up 100% of the container's height */
  width: 100%; /* Make the image take up 100% of the container's width */
  -o-object-fit: cover;
     object-fit: cover; /* Maintain the aspect ratio and cover the container */
}

.container-fluid .container #contactUsFrame {
  width: 100%;
}

#Products #carouselProduct {
  height: 100%;
  width: 100%;
}
#Products #carouselProduct .carousel-item {
  height: 100%;
  width: 100%;
}
#Products #carouselProduct .carousel-item .carousel-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  width: 50%;
}
#Products #carouselProduct .carousel-item .carousel-caption ul {
  text-align: left;
}
#Products #carouselProduct .carousel-item img {
  height: 100vh;
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.2;
  background-color: rgb(0, 0, 0);
}

#pricing {
  height: auto;
  background-image: url(../src/thirdpic.jpg);
  background-blend-mode: color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(36, 39, 1, 0.8);
}
#pricing .col {
  display: flex;
  justify-content: center;
  align-items: center;
}
#pricing .card {
  position: relative;
  width: 11.875em;
  height: 16.5em;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 120ms;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 0.5em;
  padding-bottom: 3.4em;
}
#pricing .card::after {
  content: "Add to Cart";
  padding-top: 1.25em;
  padding-left: 1.25em;
  position: absolute;
  left: 0;
  bottom: -60px;
  background: #00AC7C;
  color: #fff;
  height: 2.5em;
  width: 90%;
  transition: all 80ms;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0;
}
#pricing .card .title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 1.875em;
  font-weight: 400;
  color: #000;
}
#pricing .card .price {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 0.625em;
  color: #000;
}
#pricing .card:hover::after {
  bottom: 0;
  opacity: 1;
}
#pricing .card:active {
  transform: scale(0.98);
}
#pricing .card:active::after {
  content: "Added !";
  height: 3.125em;
}
#pricing .text {
  max-width: 55px;
}
#pricing .image {
  background: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pricing .image img {
  height: 80%;
  width: 90%;
  border-radius: 5%;
}
#pricing .card {
  position: relative;
  width: 14.875em;
  height: 19.5em;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 120ms;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 0.5em;
  padding-bottom: 3.4em;
}
#pricing .card::after {
  content: "Order Now";
  padding-top: 0.25em;
  padding-left: 2.25em;
  position: absolute;
  left: 0;
  bottom: -60px;
  background: #e7b112;
  color: #fff;
  height: 2.5em;
  width: 90%;
  transition: all 80ms;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0;
}
#pricing .card .title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  position: absolute;
  text-align: start;
  left: 0.625em;
  bottom: 1.875em;
  font-weight: 400;
  color: #7f0c0c;
}
#pricing .card .price {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 0.625em;
  color: #000;
}
#pricing .card:hover::after {
  bottom: 0;
  opacity: 1;
}
#pricing .card:active {
  transform: scale(0.98);
}
#pricing .card:active::after {
  content: "Soon!";
  height: 3.125em;
}
#pricing .text {
  max-width: 55px;
}

#aboutUs {
  height: auto;
}
#aboutUs #aboutUsMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  max-width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
#aboutUs #aboutUsMain .container {
  height: -moz-fit-content;
  height: fit-content;
  width: 700px;
}
#aboutUs #aboutUsMain .container:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}
#aboutUs #aboutUsMain .container:nth-child(1) .main {
  display: grid;
  place-items: center;
  width: 190px;
  height: 254px;
}
#aboutUs #aboutUsMain .container:nth-child(1) .card {
  width: 190px;
  height: 300px;
  background: #FAF1F6;
  padding: 2rem 1.5rem;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  display: flex;
  flex-direction: column;
  position: absolute;
}
#aboutUs #aboutUsMain .container:nth-child(1) .card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#aboutUs #aboutUsMain .container:nth-child(1) .card-avatar {
  background: radial-gradient(#A8A6B6, #B3B1BF, #BDBBC7, #C5C4CE, #E2E2E7);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: transform 0.2s ease;
}
#aboutUs #aboutUsMain .container:nth-child(1) .card-avatar img {
  height: 100px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}
#aboutUs #aboutUsMain .container:nth-child(1) .card-avatar svg {
  padding-top: 5px;
  height: 80px;
  width: 100px;
  fill: #515F65;
}
#aboutUs #aboutUsMain .container:nth-child(1) .card-social {
  display: flex;
  justify-content: center;
  width: 190px;
  margin-top: 10%;
  text-align: center;
}
#aboutUs #aboutUsMain .container:nth-child(1) .card-social a {
  text-decoration: none;
}
#aboutUs #aboutUsMain .container:nth-child(1) .card-social-icon {
  list-style: none;
  color: #414102;
  font-size: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#aboutUs #aboutUsMain .container:nth-child(1) .card-social-icon i {
  display: block;
  height: 20px;
  width: 20px;
  fill: #dadee0;
  cursor: pointer;
}
#aboutUs #aboutUsMain .container:nth-child(1) .card-title {
  color: #1b1b1b;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2rem;
  margin-top: 5px;
}
#aboutUs #aboutUsMain .container:nth-child(1) .card-subtitle {
  color: #7e93a0;
  font-size: 1em;
}
#aboutUs #aboutUsMain .container:nth-child(1) .address-icon {
  fill: #515F65;
  height: 150px;
  width: 100px;
  list-style: none;
  justify-content: space-around;
}
#aboutUs #aboutUsMain .container:nth-child(1) .address-title {
  color: #333;
  font-size: 1em;
  font-weight: 600;
  list-style: none;
}
#aboutUs #aboutUsMain .container:nth-child(1) .address {
  color: #859ba8;
  font-size: 0.8em;
  list-style: none;
  padding-left: 20px;
}
#aboutUs #aboutUsMain .container:nth-child(1) .contact-title {
  color: #333;
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 45%;
  padding-bottom: 5px;
}
#aboutUs #aboutUsMain .container:nth-child(1) .card-contact {
  color: #859ba8;
  font-size: 0.8em;
}
#aboutUs #aboutUsMain .container:nth-child(1) .icon-contact {
  list-style: none;
  display: flex;
  align-items: center;
}
#aboutUs #aboutUsMain .container:nth-child(1) .icon-contact svg {
  display: block;
  height: 18px;
  width: 18px;
  fill: #515F65;
  padding-right: 5px;
}
#aboutUs #aboutUsMain .container:nth-child(1) .card:hover {
  box-shadow: 0 10px 50px rgba(35, 35, 35, 0.2);
}
#aboutUs #aboutUsMain .container:nth-child(1) .card:hover .card-info {
  transform: translateY(-5%);
}
#aboutUs #aboutUsMain .container:nth-child(1) .card-avatar:hover {
  transform: scale(1.1);
}
#aboutUs #aboutUsMain .container:nth-child(1) #cs1:hover {
  transform: scale(2);
}
#aboutUs #aboutUsMain .container:nth-child(1) #cs2:hover {
  transform: scale(2);
}
#aboutUs #aboutUsMain .container:nth-child(1) #cs3:hover {
  transform: scale(2);
}
#aboutUs #aboutUsMain .container:nth-child(1) .main:hover #c1 {
  transform: translateX(0px);
}
#aboutUs #aboutUsMain .container:nth-child(1) .main:hover #c2 {
  transform: translateX(200px);
}
#aboutUs #aboutUsMain .container:nth-child(1) .main:hover #c3 {
  transform: translateX(-200px);
}
#aboutUs #faq::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 2, 0, 0.7); /* Adjust the opacity here */
  z-index: -1; /* Ensure the overlay is above the background */
}
#aboutUs #faq {
  width: 100%;
  background-image: url("../src/skewee.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; /* Make sure the container is positioned relative */
  z-index: 0; /* Ensure the background is behind the overlay */
  overflow: hidden;
}

.review-card {
  margin-bottom: 20px;
}

.carouselSample .review-card:hover {
  background-color: #C69F2B;
  color: whitesmoke;
  transition: 1s all ease-in;
}
.carouselSample .review-card:hover i {
  color: green;
}

#contactPage .container:nth-child(1) {
  width: 50%;
}
#contactPage .container:nth-child(2) {
  width: 50%;
}

.aboutLogo .card {
  position: relative;
  width: 300px;
  height: 230px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.aboutLogo .card img {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  fill: #e3e3e3;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.aboutLogo .card:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.aboutLogo .card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.aboutLogo .card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}
.aboutLogo .card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}
.aboutLogo .card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}
.aboutLogo .card:hover img {
  scale: 0;
  transform: rotate(-45deg);
}

#footerSoc a {
  text-decoration: none;
  color: #FAC826;
  font-weight: 600;
}
#footerSoc a:hover {
  color: white;
  transition: 1s all ease;
}

@media screen and (max-width: 756px) {
  /* Your CSS rules for screens with a width of 756 pixels or smaller */
  /* Example rule: */
  body {
    font-size: 14px;
  }
  img {
    height: 250px;
    width: 250px;
  }
  section .container-fluid .container {
    width: -moz-fit-content;
    width: fit-content;
  }
  #contact {
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column;
  }
  #contact .container-fluid {
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column;
  }
  #contact iframe {
    margin-top: 50px;
    height: auto;
    width: auto;
  }
  #contactPage {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */